* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* VARS */
:root {
    --red: hsl(0, 70%, 70%);
    --green: hsl(90, 70%, 70%);
    --blue: hsl(180, 70%, 70%);
    --yellow: hsl(54, 73%, 65%);
}

/* UTILITIES */
[data-color="red"] {
    background-color: var(--red);
}
[data-color="green"] {
    background-color: var(--green);
}
[data-color="blue"] {
    background-color: var(--blue);
}
[data-color="yellow"] {
    background-color: var(--yellow);
}

/* APP */
.app {
    position: relative;
}

.btn {
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    border: 0;
    border-radius: 0.25rem;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 2px 0 rgba(20, 20, 20, 0.5), 0 4px 4px 0 rgba(30, 30, 30, 0.3);
    transition: box-shadow 200ms ease;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 1px 1px 0 rgba(20, 20, 20, 0.15), 0 2px 2px 0 rgba(30, 30, 30, 0.1);
}

/* BOARD */
.board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
}

.board__cell {
    border: 0;
    opacity: 0.37;
    transition: opacity 150ms ease-in;
}

.board__cell:focus {
    outline: none;
}

.board__cell.is-active {
    opacity: 1; 
}

/* COMPUTER */

/* HUMAN */
[data-turn="human"] .board__cell {
    cursor: pointer;
}

[data-turn="human"] .board__cell:active {
    opacity: 1;
}
