* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

/* VARS */
:root {
	--red: #f14668;
	--green: #48c774;
	--blue: #3298dc;
	--yellow: #ffdd57;
}

/* UTILITIES */
[data-color='red'] {
	background-color: var(--red, #f14668);
}
[data-color='green'] {
	background-color: var(--green, #48c774);
}
[data-color='blue'] {
	background-color: var(--blue, #3298dc);
}
[data-color='yellow'] {
	background-color: var(--yellow, #ffdd57);
}

/* ANIMATIONS */
@keyframes show {
	to {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}

/* APP */
.app {
	width: clamp(320px, 680px, 95vw);
	margin: 0 auto;
	position: relative;
}

.btn {
	padding: 1rem 2rem;
	font-size: 1.5rem;
	font-weight: bold;
	border: 0;
	border-radius: 3.75rem;
	color: #3a3a3a;
	background-color: #fcf9f9;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -40%);
	box-shadow: 0 2px 2px 0 rgba(20, 20, 20, 0.15),
		0 4px 4px 0 rgba(30, 30, 30, 0.13);
	transition: all 200ms ease;
	cursor: pointer;
	opacity: 0;
	animation: show 350ms ease-in 300ms 1 forwards;
}

.btn:hover {
	transform: translate(-50%, -52%);
	box-shadow: 0 1px 1px 0 rgba(20, 20, 20, 0.15),
		0 2px 2px 0 rgba(30, 30, 30, 0.1);
}

.btn[disabled] {
	display: none;
}

/* BOARD */
.board {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 90vh;
	clip-path: circle(45vw at 50% 50%);
}

.board__cell {
	border: 0;
	opacity: 0.7;
	transition: opacity 150ms ease-in;
}

.board__cell:focus {
	outline: none;
}

.board__cell.is-active {
	opacity: 1;
}

/* COUNTER */
.counter {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
}

/* COMPUTER */
[data-turn='computer'] {
	pointer-events: none;
}

/* HUMAN */
[data-turn='human'] .board__cell {
	cursor: pointer;
}

[data-turn='human'] .board__cell:active {
	opacity: 1;
}

@media screen and (min-width: 35em) {
	.board {
		clip-path: circle(33% at 50% 50%);
	}

	.btn {
		padding: 2rem 4rem;
		font-size: 2.5rem;
	}
}
